@media (max-width :1025px) {
/* header */
    header{
        padding-inline: 92px;
        /* background-color: aqua; */
    }
    /* section1 */
    .section1{
        padding-inline: 92px;
    }
    /* section2 */
    /* .none1025{
        display: none;
    } */

}


@media(max-width : 835px){
    /* header */
    header{
        padding-inline: 67px;
    }
    /* section1 */
    .section1{
        padding-inline: 67px;
        height: 438px;
    }
    /* section2 */
    .section2{
        margin-block: 80px;
    }
    .section2_cards_container_mein{
        overflow-x: scroll;
    }
    .section2_cards_container{
        flex: 1 0 380px;
    }

}



