@media (max-width :1025px) {
/* header */
    header{
        padding-inline: 92px;
        /* background-color: aqua; */
    }
    /* section1 */
    .section1{
        padding-inline: 92px;
    }
    /* section2 */
   
    /* section3 */
    .section3{
        padding-inline: 92px;
    }
    .section3_leftside_box {
        width: 840px;
        height: 400px;
    
    }
    .section3_mother {
        width: 100%;
        flex-wrap: wrap;
        /* padding-inline: 92px; */
    }
    .section3_rigthside_motherbox{
        flex-direction: row;
        column-gap: 20px
    }
    .section3_rigthside_motherbox{
        width: 100%;
    }


}


@media(max-width : 835px){
    /* header */
    header{
        padding-inline: 67px;
    }
    /* section1 */
    .section1{
        padding-inline: 67px;
        height: 438px;
    }
    /* section2 */
    .section2{
        margin-block: 80px;
    }
    .section2_cards_container_mein{
        overflow-x: scroll;
    }
    .section2_cards_container{
        flex: 1 0 380px;
    }
.section3_leftside_box {
        height: 320px;
    }

    /* footer  */
    footer {
        margin-top: 80px;
    }

}



