@media (max-width :1025px) {
/* header */
    header{
        padding-inline: 92px;
        /* background-color: aqua; */
    }
    /* section1 */
    .section1{
        padding-inline: 92px;
    }

}


@media(max-width : 835px){
    /* header */
    header{
        padding-inline: 67px;
    }
    /* section1 */
    .section1{
        padding-inline: 67px;
        height: 438px;
    }
}



