@media (max-width :376px) {
    /* header */
    header{
padding-inline: 14px;
    }
    /* section1 */
    .section1{
        padding-inline: 14px;
        height: 431px;
    }
    /* section2 */
    .section2{
        margin-block: 48px;
    }
    .section2_cards_container{
        flex: 1 0 240px;
    }
    footer {
        margin-top: 48px;
    }
}