@media (max-width :681px) {
    .burgera{
        display: block;
        
    }
    .header_right_nav{
        display: none;
    }

    /* section1 */
    h2{
        font-size: 32px;
        line-height: 40px;
    }
    .section1_text{
        font-size: 14px;
        line-height: 22px;
    }
    /* section2 */
    
    .section2_cards_container{
        flex: 1 0 270px;
    }
h3{
    text-align: center;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 36px;
}
.section3_rigthside_motherbox {
    flex-direction: column;
    row-gap: 20px;
}
}